/*
Table of content

- Universal styles

- Header
  > Logo
  > Navigation

- Main Content
  > Mission section
  > Featured section
  > Locations section

- Footer
  > Contact
  >Copyright


*/


/* - Universal styles */
h2,
h3,
h4,
h5,
p,
a {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  margin: 0;
}

body {
  background-color: black;
}

/* - Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: black;
  padding: 10px 10px 9px 10px;
  border-bottom: 1px solid seashell;
  margin: 0;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0.9;
  z-index: 2;
}

/* - > Logo */
.logo {
  margin: 0;
  flex: 20 1 250px;
  height: 50px;
}

.logo img {
  margin: 0;
  height: 50px;
}

/* - > Navigation */
nav {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 0 20px; /* Why am I getting half of the specified padding on the right side of the nav bar? */
}

nav a {
  white-space: nowrap;
}

nav a:nth-of-type(2) {
  padding: 0 20px;
}


/* - Main Content */
main {
  position: relative;
  top: 140px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

section {
  margin: 0 0 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner {
  align-self: stretch;
  background-color: black;
  text-align: center;
  padding: 20px 40px;
}

.banner h2 {
  font-size: 33px;
  padding-bottom: 15px;
  margin: 0;
}

/* - > Mission section */
#hero {
  flex-basis: 700px;
  background-image: url("../media/images/img-mission-background.jpg");
  background-size: cover;
  background-position: center;
}

/* - > Featured section */
#tea-month {
  align-self: stretch;
}

.tea-cards-wrapper {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.tea-card {
  flex-basis: 300px;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  margin: 5px 20px;
}

.tea-name {
  padding: 10px 0 20px 0;
}

.tea-image {
  flex-basis: 200px;
  background-color: black;
  background-size: cover;
  background-position: center;
}

#box-1 .tea-image{
  background-image: url(../media/images/img-berryblitz.jpg);
}

#box-2 .tea-image{
  background-image: url(../media/images/img-spiced-rum.jpg);
}

#box-3 .tea-image{
  background-image: url(../media/images/img-donut.jpg);
}

#box-4 .tea-image{
  background-image: url(../media/images/img-myrtle-ave.jpg);
}

#box-5 .tea-image{
  background-image: url(../media/images/img-bedford-bizarre.jpg);
}

/* - > Locations section */
#locations {
  background-image: url("../media/images/img-locations-background.jpg");
  background-size: cover;
  background-position: center;
  padding: 64px 0;
}

#locations .banner {
  background-color: transparent;
  padding-bottom: 0px;
}

.loc-cards-wrapper {
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.loc-card {
  background-color: black;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  padding: 10px;
  margin: 5px 20px;
  min-width: 300px;
}

.loc-name {
  font-size: 24px;
  padding: 20px 0;
}

.loc-address {
  padding: 20px 0;
}

/* - Footer */
footer {
  position: relative;
  top: 140px;
  display: flex;
  flex-flow: column nowrap;
  margin: 0 20px;
}

footer .banner {
  flex-basis: 200px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

footer h5 {
  font-size: 18px;
  padding: 10px 0;
}

.copyright-info {
  align-self: flex-start;
}
