/*
Table of content

- Universal styles

- Header
  > Logo
  > Navigation

- Main Content

- Footer


*/


/* - Universal styles */
h2,
h4,
p,
a {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}

body {
  background-color: black;
}

/* - Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid seashell;

}

/* - > Logo */
.logo {
  background-color: black;
  flex: 20 1 250px;
  padding: 0 10px;
}

.logo img {
  height: 50px;
}

/* - > Navigation */
nav {
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 0 10px;
  min-height: 50px;
}

nav a {
  white-space: nowrap;
}

nav a:nth-of-type(2) {
  padding: 0 20px;
}




main {
  display: flex;
  flex-flow: column nowrap;

  border: 2px dotted blue;

}






div {




  flex-basis: 50px;
  border: 2px dotted red;
}
